<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detaillierte Informationen zu den Büchern</title>
    <link rel="stylesheet" type="text/css" href="/css/design.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
</head>

<body class="responsive">
    <header>
        <img src="/img/books.jpg" id="kopfbild" alt="Kein Bild">
        <h2 id="kopftitel">Detaillierte Informationen zu den Büchern</h2>
    </header>

    <nav>
        <ul>
            <li>
                <a href="Listenseite">Listenseite</a>
            </li>
            <li>
                <a href="Buchanlegen">Buch hinzufügen</a>
            </li>
            <li><a href="/">Zurück zur startseite</a></li>
        </ul>
    </nav>

    <main>
        <div class="artikel">
            <img class="bild" src="/img/Java.jpg" alt="Kein Bild">
            <table class="tabelle">
                <thead>
                    <tr>
                        <td>Titel</td>
                        <td>Java ist auch eine Insel</td>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>Autor</td>
                        <td>Christian Ullenboom</td>
                    </tr>
                    <tr>
                        <td>Herausgeber</td>
                        <td> Rheinwerk Computing; 15. Edition</td>
                    </tr>
                    <tr>
                        <td>Erscheinungsjahr</td>
                        <td>25 Juni 2020</td>
                    </tr>
                    <tr>
                        <td>Umfang</td>
                        <td>1246 Seiten</td>
                    </tr>
                    <tr>
                        <td>ISBN</td>
                        <td> 978-3836277372</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td style="color: green; background-color: aliceblue;">Ausleihbar</td>
                    </tr>
                    <tr>
                        <td>Sprache</td>
                        <td>Deutsch</td>
                    </tr>
                    <tr>
                        <td>Beschreibung</td>
                        <td>Java-Bücher gibt es wie Sand am Meer, aber die Java-Insel ist das Kultbuch für Programmierer
                            und erste Wahl,
                            wenn es um aktuelles und praktisches Java-Wissen geht. Seit über einem Jahrzehnt profitieren
                            Java-Einsteiger,
                            Studenten und Umsteiger von anderen Programmiersprachen gleichermaßen von diesem
                            Standardwerk unter den Java-Büchern.
                            Dozenten und Ausbilder schätzen das Buch für die zahlreichen Beispiele, Aufgaben und
                            Musterlösungen.
                            Leserinnen und Leser feiern es für die verständliche Darstellungsweise und den feinen Humor;
                            Programmierung darf auch Spaß machen!
                            Auf über 1.000 Seiten stellt Autor Christian Ullenboom die Sprachgrundlagen von Java vor
                            und gibt kompakte Einführungen in Spezialthemen wie z. B. Threads, Algorithmen, GUIs oder
                            Dateien und
                            Datenströme. Das Buch ist garniert mit einer Vielzahl an anschaulichen Beispielen aus der
                            Programmierpraxis
                            sowie Aufgaben und Musterlösungen fürs Selbststudium. Der umfangreiche Index und die
                            übersichtliche Struktur
                            des Buches helfen auch unerfahreneren Java-Entwicklern, das passende Thema schnell zu finden
                            oder in der Referenz nachzuschlagen.</td>
                    </tr>


                </tbody>
                <tfoot>

                </tfoot>

            </table>

        </div>

        <div class="artikel">
            <img class="bild" src="/img/IP-Netze.jpg" alt="Kein Bild">
            <table class="tabelle">
                <thead>
                    <tr>
                        <td>Titel</td>
                        <td>IP-Netze</td>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>Autor</td>
                        <td>Anatol Badach und Erwin Hoffmann</td>
                    </tr>
                    <tr>
                        <td>Herausgeber</td>
                        <td> Carl Hanser Verlag GmbH & Co. KG; 4. Edition</td>
                    </tr>
                    <tr>
                        <td>Erscheinungsjahr</td>
                        <td> 5. August 2019</td>
                    </tr>
                    <tr>
                        <td>Umfang</td>
                        <td>1144 Seiten</td>
                    </tr>
                    <tr>
                        <td>ISBN</td>
                        <td> 978-3446462106</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td style="color: green; background-color: aliceblue;">Ausleihbar</td>
                    </tr>
                    <tr>
                        <td>Sprache</td>
                        <td>Deutsch</td>
                    </tr>
                    <tr>
                        <td>Beschreibung</td>
                        <td>In IP-Netzen laufen komplexe Vorgänge bei der Übermittlung von Daten in Form von IP-Paketen
                            ab. Das massive Internet-Wachstum und die dabei entstandenen Anforderungen haben zu
                            zahlreichen Entwicklungen geführt – hervorzuheben sind u. a. das Internetprotokoll IPv6, die
                            Techniken MPLS und GMPLS, mehrere Arten von Virtual Networks, Distributed Layer 2/3
                            Switching und »Internet of Things«.
                            Dieses Buch enthält eine systematische Darstellung der TCP/IP-Protokollfamilie sowie von
                            Routing-Prinzipien in klassischen IP- wie auch in IPv6-Netzen.
                            Es erläutert außerdem die Konzepte zum Aufbau von IP-Netzen auf der Basis unterschiedlicher
                            Netztechnologien speziell im Hinblick auf Virtual Networks sowie der Unterstützung der
                            Mobilität. Zudem enthält diese Auflage eine umfangreiche Darstellung der technologischen
                            Grundlagen des »Internet of Things«.
                            Das Buch eignet sich nicht nur als Lehrbuch für Studierende unterschiedlicher Fachrichtungen
                            sowie für Neueinsteiger, sondern auch als Nachschlagewerk für den Praktiker. Im Buch sind
                            die relevanten Quellen ins Internet verlinkt, sodass es sich auch als »Informations-Hub« für
                            das Selbststudium einsetzen lässt.</td>
                    </tr>


                </tbody>
                <tfoot>

                </tfoot>

            </table>

        </div>

        <div class="artikel">
            <img class="bild" src="/img/YDKJS.jpg" alt="Kein Bild">
            <table class="tabelle">
                <thead>
                    <tr>
                        <td>Titel</td>
                        <td>You Don't Know Javascript</td>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>Autor</td>
                        <td>Kyle Simpson</td>
                    </tr>
                    <tr>
                        <td>Herausgeber</td>
                        <td> Independently published </td>
                    </tr>
                    <tr>
                        <td>Erscheinungsjahr</td>
                        <td>28. Januar 2020</td>
                    </tr>
                    <tr>
                        <td>Umfang</td>
                        <td>143 Seiten</td>
                    </tr>
                    <tr>
                        <td>ISBN</td>
                        <td> 979-8602477429</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td style="color: green; background-color: aliceblue;">Ausleihbar</td>
                    </tr>
                    <tr>
                        <td>Sprache</td>
                        <td>Englisch</td>
                    </tr>
                    <tr>
                        <td>Beschreibung</td>
                        <td>It seems like there's never been as much widespread desire before for a better way to deeply
                            learn the fundamentals of JavaScript.
                            But with a million blogs, books, and videos out there, just where do you START?
                            Look no further!The worldwide best selling "You Don't Know JS" book series is back for a 2nd
                            edition:
                            "You Don't Know JS Yet". All 6 books are brand new, rewritten to cover all sides of JS for
                            2020 and beyond.
                            "Get Started" prepares you for the journey ahead, first surveying the language then
                            detailing how the rest
                            of the You Don't Know JS Yet book series guides you to knowing JS more deeply.</td>
                    </tr>


                </tbody>
                <tfoot>

                </tfoot>

            </table>

        </div>



        <div class="artikel">
            <img class="bild" src="/img/NNP2.png" alt="Kein Bild">
            <table class="tabelle">
                <thead>
                    <tr>
                        <td>Titel</td>
                        <td>Neuronale Netze programmieren mit Python</td>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>Autor</td>
                        <td>Joachim Steinwendner und Roland Schwaiger</td>
                    </tr>
                    <tr>
                        <td>Herausgeber</td>
                        <td> Rheinwerk Computing; 2. Edition</td>
                    </tr>
                    <tr>
                        <td>Erscheinungsjahr</td>
                        <td>25. Mai 2020</td>
                    </tr>
                    <tr>
                        <td>Umfang</td>
                        <td>479 Seiten</td>
                    </tr>
                    <tr>
                        <td>ISBN</td>
                        <td> 978-3836274500</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td style="color: brown; background-color: aliceblue;">nicht vorhanden</td>
                    </tr>
                    <tr>
                        <td>Sprache</td>
                        <td>deutsch</td>
                    </tr>
                    <tr>
                        <td>Beschreibung</td>
                        <td>Neuronale Netze stehen im Mittelpunkt,
                            wenn es um Künstliche Intelligenz und Machine Learning geht.
                            Sie revolutionieren Bild- und Spracherkennung, Spiele-KIs und vieles mehr.
                            Zum Glück lassen sich die genialen Ideen dahinter einfach erklären. Um sie zu verstehen und
                            einzusetzen,
                            programmieren Sie die verschiedenen Netztypen einfach selbst nach!
                            Dieses Buch hilft Ihnen bei Ihren ersten Ausflügen in die KI-Welt.
                            Profitieren Sie vom Wissen der beiden KI-Experten und lernen Sie,
                            wie Sie eigene Neuronale Netze programmieren. Und zwar in Python,
                            der Hauptsprache der KI-Welt. Sie werden sich dabei mit Mathematik
                            und Programmierung befassen, brauchen aber keine konkreten Vorkenntnisse.
                            Alles wird Ihnen anschaulich erklärt, mit zahlreichen Abbildungen und komplett in Farbe.
                            Eine unterhaltsame Reise in eine der faszinierendsten neuen Computer-Technologien. </td>
                    </tr>


                </tbody>


            </table>

        </div>

        <% for (let elem of buchfeld) { %>
            <div class="artikel">
                <img class="bild" src="/img/zeichen.jpg" alt="Kein Bild">
                <table class="tabelle">

                    <thead>
                        <tr>
                            <td>Titel</td>
                            <td>
                                <%= elem.titel %>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Autor</td>
                            <td>
                                <%= elem.autor %>
                            </td>
                        </tr>
                        <tr>
                            <td>Herausgeber</td>
                            <td>
                                <%= elem.herausgeber %>
                            </td>
                        </tr>
                        <tr>
                            <td>Erscheinungsjahr</td>
                            <td>
                                <%= elem.erscheinungsjahr %>
                            </td>
                        </tr>
                        <tr>
                            <td>umfang</td>
                            <td>
                                <%= elem.umfang %>
                            </td>
                        </tr>
                        <tr>
                            <td>ISBN</td>
                            <td>
                                <%= elem.isbn %>
                            </td>
                        </tr>

                        <tr>
                            <td>Status</td>
                            <td style="color: brown; background-color: aliceblue;">
                                <%= elem.status %>
                            </td>
                        </tr>


                        <tr>
                            <td>Sprache</td>
                            <td>
                                <%= elem.sprache %>
                            </td>
                        </tr>
                        <tr>
                            <td>Beschreibung</td>
                            <td>
                                <%= elem.beschreibung %>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
            <% } %>
    </main>

    <%- include('aside.ejs') %>

        <%- include('footer.ejs') %>
            <script src="/js/buchanlegen.js"></script>
</body>

</html>